@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins';
	  margin: 0;
	  padding: 0;
    box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}


/* --------------------> NAV <------------------------ */
nav{
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

 nav ul{
    list-style: none;
    font-weight: 300;
    display: flex;
    margin-top: 16px;
  }
 
nav ul li a{  
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 1.1rem;
      padding-left: 25px;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 0.2s;
  } 

  nav ul li a:hover {
      letter-spacing: 6px;
      font-weight: 500;
      color: #111;
  }
      
  .logo a{
      color: rgb(0, 0, 0);
      cursor: pointer;
      font-size: 3rem;
      font-weight: 600;
      transition: 0.2s;
      text-decoration: none;
  }

  .logo:hover {
    letter-spacing: 6px;
  }

  nav .menu-btn i{
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  
  #click{
    display: none;
  }
/* --------------------------------->HAMBURGUER<------------------------------ */
  @media (max-width: 940px) {
    nav .menu-btn i{
      display: block;
    }

    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }

    nav ul{
      position: fixed;
      top: 85px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      display: block;
      z-index: 1000;
      padding-left: 0px;
      text-align: center;
      transition: all 0.4s ease;
    }

    #click:checked ~ ul{
      left: 0%;
    }
    
    nav ul li{
      margin: 50px 0; 
    }

    nav ul li a{
      font-size: 2rem;
      display: block;
      color: #ffffff;
    }

    nav ul li a:hover {
      color: rgb(255, 255, 255);
  }
}

/* --------------------------------->HAMBURGUER<------------------------------ */
/* --------------------> ENDS NAV <------------------------ */

/* --------------------> INDEX <------------------------ */

/* ---------------->INDEX GRID<--------------- */
.index-grid {
  margin: 0 0.01rem;
  --gap: 5px;
  --num-cols: 6;
  --row-height: 250px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols),minmax(20px,1fr));
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  grid-auto-flow: dense;
}
/* ---------------->INDEX GRID<--------------- */

.index-grid  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1px;
  transition: 0.5s ease-in-out all;
  object-position: 50% 50%;
  position: relative;
}

/* hero title */

.hero-title{
  height: 100%;
  background: linear-gradient(rgba (0,0,0,0.1));
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1509343256512-d77a5cb3791b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}


.hero-title h2 {
  padding: 3rem 3rem 1rem 3rem;
  font-size: 6.2em;
  margin-bottom: 20px;
  letter-spacing: 0px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px #cb3b069c;
}

.hero-title h3 {
  padding: 0 3rem;
  font-size: 3em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 0.8em;
  text-shadow: 3px 3px #cb3b069c;
}
/* inicia boton explora + */
.boton-index{
  margin: 3rem 3rem 5rem 3rem;
}

.hero-title a {
  display: inline-block;
  font-size: 1em;
  background: rgb(255, 255, 255);
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.hero-title a:hover {
  letter-spacing: 6px;
}

/* ends boton explora */
/* ends hero title */
.index-grid .index-item {
  position: relative;
	cursor: pointer;
}

.index-details {
  position: absolute;
  width: 100%;
  height: 100%;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
	opacity: 0;
	z-index: 1;
	transition: all 0.4s ease-out;
	transition-delay: 0.2s;
  opacity: 0;
  text-align: center;
  color: black;
  font-size: 18px;
  cursor: pointer;
  background-color: #ffffff; 
}

.index-item:hover .index-details {
  transform: all 0.4s ease-out;
	opacity: 1;
}

.index-cards{
  padding: 3rem;
}

.index-cards h2{
  color: #ffffff;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
}

.index-cards h3{
  color: #ffffff;
  font-size: 2rem;
  line-height: 30px;
  font-weight: 300;
}

.index-cards a{
  color: #ffffff;
  font-size: 1rem;
  line-height: 3rem;
  font-weight: 700;
  text-decoration: none;
}


.index-details h1 {
  padding: 3.5rem;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin: 2px 0;
}

.index-details h4{
  color: rgb(0, 0, 0);
  font-size: 1.9rem;
}

.index-details p {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.index-details a {
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}


.social {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
}

.social li {
  align-items: center;
  margin-top: 2.6rem;
  list-style: none;
}

.social li a {
    display: inline-block;
    padding: 1rem;
    color: rgb(0, 0, 0);
    font-size: 3.5rem;
    transition: 0.5s;
}
.social li a:hover
{
  transform: translateY(-10px);
}

/* --------------------> INDEX <------------------------ */
/* --------------------> TEAM <------------------------ */

.team-name{
  margin-top: 2rem;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.team-name h2{
  font-size: 1.3rem;
  color: #cb3b06;
  font-weight: 600;
}

.headshot-grid {
  margin: 0 0.1rem;
  --gap: 10px;
  --num-cols: 6;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols),minmax(20px,1fr));
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.headshot-grid  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

/* hover img */

.headshot-grid .card-item {
  position: relative;  
}

.headshot-grid img {
  transition: 0.4s ease-in-out all;
  object-position: 50% 50%;
}

.headshot-grid .card-details {
  position: absolute;
  margin: 0.5rem;
  padding: 10px 10px;
  bottom: 0px;
  opacity: 0;
  transition: 0.4s ease-in-out all;
  width: 200px;
}

.card-details h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin: 2px 0;
}
.card-details p {
  font-size: 14px;
  color: #fff;
}

.card-details a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.card-item:hover .card-details {
  opacity: 1;
  background-color: #cb3b06;
  border-radius: 5px;
  width: 200px;
}

.card-item:hover img {
  transform: scale(1.01);
}

/*end hover img */

/* --------------------> TEAM <------------------------ */
/* --------------------> OFICINAS<------------------------ */
.quote-grid {
   margin: 6rem;
  --gap: 0px;
  --num-cols: 2;
  --row-height: auto;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols),minmax(20px,1fr));
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.quote-item1 h2{
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1.5rem;
}

.oficinas-grid {
  margin: 4rem 4rem;
 --gap: 0px;
 --num-cols: 6;
 --row-height: auto;

 box-sizing: border-box;
 padding: var(--gap);

 display: grid;
 grid-template-columns: repeat(var(--num-cols),minmax(20px,1fr));
 grid-auto-rows: var(--row-height);
 gap: var(--gap);
}


.oficinas-item h2{
  font-size: 1rem;
  color: #cb3b06;
  font-weight: 600;
  margin-top: 1.5rem;
}

.oficinas-item p{
  font-size: 0.8rem;
}

/* --------------------> OFICINAS<------------------------ */
/* -------------------->MISION<------------------------ */

.mision-grid {
  margin: 0 0.1rem;
  --gap: 5px;
  --num-cols: 2;
  --row-height: 400px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols),minmax(20px,1fr));
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.mision-grid  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  filter: grayscale(100%);
}


.mision-title h2{
  color: #cb3b06;
  padding: 0 1rem 3rem 1rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.info{
  padding: 3rem 2rem;
}

.info h2{
  line-height: 30px;
  font-size: 2.2rem;
  font-weight: 700;
}

.info p{
  margin-top: 50px;
  font-size: 1.2rem;
}

/* -------------------->MISION<------------------------ */
/* -------------------->PORTFOLIO<------------------------ */
.work-grid {
  margin: 0 0.1rem;
  --gap: 5px;
  --num-cols: 5;
  --row-height: 250px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols),minmax(20px,1fr));
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  grid-auto-flow: dense;
}

.work-grid  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.work-grid img {
  transition: 0.5s ease-in-out all;
  object-position: 50% 50%;
  filter: grayscale(100%);
}

.card-item2 img:hover {
  transform: scale(1.01);
  filter: grayscale(0);
}

/* -------------------->PORTFOLIO<------------------------ */
/* --------------------> FOOTER <------------------------ */

.footer {
  width: 100%;
}

footer ul{
  padding:0;
}

footer li{
  list-style: none;
}

.footer-creds{
  display: flex;
  justify-content: space-between;
  color: #576171;
  font-size: .9rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1rem;
}
.copy-creds{
  padding-left: 1rem;
}

.socials ul{
  display: flex;
  flex-flow: row;
}
.socials ul li{
  padding-right: 1rem;
}
.socials ul a{
  color: #576171;
  font-size: 1rem;
}

/* --------------------> FOOTER <------------------------ */
/* --------------------> SCALE <------------------------ */
@media (max-width:320px) {
  .footer-creds{
    flex-flow: column;
  }
}

@media screen and (max-width: 1300px) {
  .headshot-grid {
    --num-cols: 4;
    --row-height: 300px;
  }

  .mision-grid {
    --num-cols: 2;
    --row-height: auto;
  }

  .work-grid {
    --num-cols: 4;
    --row-height: 300px;
  }

  .oficinas-grid{
    --num-cols: 4;
    --row-height: auto;
  }

  .index-grid{
    --num-cols: 6;
    --row-height: 300px;
  }

}

@media screen and (max-width: 940px) {
    
  .hero-title {
    font-size: 80%;
  }

  .index-grid {
    --num-cols: 3;
    --row-height: 300px;
  }
  
  .headshot-grid {
    --num-cols: 3;
    --row-height: 300px;
  }

  .work-grid {
    --num-cols: 3;
    --row-height: 300px;
  }

  .mision-grid {
    --num-cols: 1;
    --row-height: auto;
  }
  .oficinas-grid{
    --num-cols: 2;
    --row-height: auto;
  }
}

@media screen and (max-width: 949px) {
  .index-grid {
    display: block;
  }

  .index-grid .index-item2{
    margin-bottom: 1rem;
  }

  .index-grid .index-item{
    margin-bottom: 1rem;
  }

}

@media screen and (max-width: 750px) {
  .headshot-grid {
    --num-cols: 2;
    --row-height: 400px;
  }

  .mision-grid {
    --num-cols: 1;
    --row-height: auto;
  }

  .work-grid {
    --num-cols: 2;
    --row-height: 400px;
  }

}

@media screen and (max-width: 550px) {
  .headshot-grid {
    --num-cols: 1;
    --row-height: 600px;
  }

  .headshot-grid .card-item .card-details {
    margin: 1rem;
  }

  .mision-grid {
    --num-cols: 1;
    --row-height: auto;
  }

  .work-grid {
    display: block;
  }

  .work-grid .card-item2{
    margin-bottom: 1rem;
  }

  .card-item:hover .card-details{
    transform: scale(1.10);
  }
}

@media screen and (max-width: 940px) {
    

}


/* --------------------> SCALE <------------------------ */


/* --------------------> GRID SIZING <------------------------ */
.w-6{
  grid-column: span 6;
}

.w-5{
  grid-column: span 5;
}

.w-4{
  grid-column: span 4;
}

.w-3{
  grid-column: span 3;
}

.w-2{
  grid-column: span 2;
}

.w-1{
  grid-column: span 1;
}

.h-4{
  grid-row: span 4;
}

.h-3{
  grid-row: span 3;
}

.h-2{
  grid-row: span 2;
}

.h-1{
  grid-row: span 1;
}

/* --------------------> GRID SIZING <------------------------ */
/* --------------------> COLORS <------------------------ */

.bg-grey{
  background-color: #a9a08e;
}

.bg-pink{
  background-color: #90654b;
}

.bg-orange{
  background-color: #cb3b06;
}

.bg-purple{
  background-color: #1d161e;
}

/* --------------------> COLORS <------------------------ */
/* --------------------> CONTACT FORM <------------------------ */
.contact-form-wrapper {
  padding: 100px 0;
}

.contact-form {
  padding: auto;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 400px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #cb3b06;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #cb3b06;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #cb3b06;
  color: white;
  text-transform: uppercase;
  padding: 10px 50px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #cb3b06;
}

/* -------------------->ENDS CONTACT FORM <------------------------ */

.tienda{
  height: 50vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}